# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Temporary files
tmp/
temp/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Other files
*.tgz
*.gz
